@media  screen and (max-width: 768px) {
    .toggle-menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
        margin-right: -10px;
    }

    .toggle-menu span {
        display: block;
        background-color: rgba(26, 26, 26, 0.905);
        height: 2px;
        width: 35px;
    }

    .navbar {
        position: relative;
        padding: 20px;
        /* flex-wrap: wrap; */
    }

    .navbar .navbar-nav {
        width: 100%;
        flex-direction: column;
        display: none;
        justify-content: center;
        align-items: center;
        /* positon agar tidak menutpi content */
        position: fixed;
        /* top: -300px; */
        left: -300px;
        padding: 35px 0;
        background-color: rgb(92, 92, 92);
        /* z-index: -100; */
        /* border: 1px solid saddlebrown; */
    }

    .navbar .navbar-nav.show {
        top: 75px;
        left: 0;
        display: flex;
    }
}