@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Jersey+25&display=swap");

/* variabel
:root {
    --primaryTextColor: #232e25;
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: 1px solid saddlebrown; */
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track-piece {
  background: linear-gradient(transparent, #00c6ff);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #30ff00);
}

body {
  overflow-x: hidden;
  background-color: rgba(250, 235, 215, 0.19);
}

header#navigation {
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
nav.navbar {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 35px;
  position: relative;
  /* top: 0; */
  left: 0;
  z-index: 100;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  backdrop-filter: blur(50px);
}

nav.navbar figure img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.icon,
#check {
  display: none;
  cursor: pointer;
  color: black;
  font-size: 2.8rem;
}

ul.navbar-nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  transition: 0.3s ease-in-out;
}

ul.navbar-nav .nav-link {
  text-decoration: none;
  color: transparent;
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

ul.navbar-nav .nav-link:hover {
  color: blue;
}

/* cotentent */
section.content {
  max-width: 100%;
  overflow: hidden;
}
section.video {
  position: relative;
  height: 100vh;
  /* border: 1px solid red; */
  overflow: hidden;
}

video#video-banner {
  position: absolute;
  top: 50px;
  width: 100%;
  height: auto;
}

section.video video:nth-child(2) {
  display: none;
}

header.nama-kampus {
  position: absolute;
  margin-top: 250px;
  font-size: 47px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px whitesmoke;
  font-family: "Anton", sans-serif;
}

header.nama-kampus p {
  margin-top: 10px;
  letter-spacing: 6px;
}

/* about */
section#about {
  margin-top: 47px;
}

article.about {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

article.pendidikan,
article.visi-misi {
  margin-top: 45px;
  width: 100%;
  padding: 60px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

header.info {
  width: 450px;
  font-family: sans-serif;
}
header.visi,
header.misi {
  width: 400px;
}
header.info h4 {
  font-family: "Anton", sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: #3e4078;
}

header.info p {
  margin-top: 18px;
  font-family: sans-serif;
  font-size: 12px;
}
header.info a {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #9118fb84 5%, #7fcce8 100%);
  background-color: #f4edfa;
  border-radius: 6px;
  border: 1px solid #8bc3e8;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 8px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
  margin-top: 17px;
}

header.info a:hover {
  background: linear-gradient(to top, #9118fb56 5%, #7fcce8 100%);
  /* background: linear-gradient(to bottom, #7fcce8 5%, #f4edfa 100%); */
  background-color: #7fcce8;
}

header.info a:active {
  position: relative;
  top: 1px;
}

figure.study img {
  width: 380px;
  height: 370px;
  border-radius: 10px 30px 10px 30px;
}

.visi h4,
.misi h4 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 13px;
  font-family: "Anton", sans-serif;
  color: #3e4078;
}

.vertical {
  border-left: 1px solid #333;
  height: 100px;
  width: 2px;
  /* border: 1px solid salmon; */
}

hr {
  display: none;
}
/* tabet */
@media screen and (max-width: 768px) and (max-width: 1023px) {
  nav.navbar {
    padding: 23px 35px;
  }

  ul.navbar-nav .nav-link {
    font-size: 13px;
  }

  video#video-banner {
    max-width: 100%;
    height: auto;
  }
}

/* phone */
@media screen and (max-width: 767px) {
  .icon {
    display: inline-flex;
    font-size: 40px;
  }

  #check:checked ~ .icon #open-menu {
    display: none;
  }

  .icon #close-menu {
    display: none;
  }

  #check:checked ~ .icon #close-menu {
    display: block;
  }

  nav.navbar {
    padding: 6px 25px;
  }

  nav.navbar figure img {
    width: 35px;
    height: 35px;
  }

  ul.navbar-nav {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(170, 169, 169, 0.535);
    backdrop-filter: blur(100px);
    overflow-y: hidden;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }

  ul.navbar-nav.show {
    height: 17.7rem;
  }

  section.video {
    height: 100vh; /* Tinggi 100% dari viewport */
    width: 100vw; /* Lebar 100% dari viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hindari overflow */
    position: relative;
  }

  video#video-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mengisi kontainer dan menjaga rasio aspek */
    transform: translate(-50%, -50%); /* Center video */
  }


  section.video video:nth-child(1) {
    display: none;
  }

  section.video video:nth-child(2) {
    display: block;
    /* height: auto; */
  }

  /* video#video-banner {
    width: 100%;
    height: 100vh;
  } */

  article.pendidikan,
  article.visi-misi {
    margin-top: 0px;
  }
  
  article.about {
    flex-direction: column;
    padding: 0px 60px;
  }

  header.visi,
  header.misi {
    width: 200px;
  }

  header.info a {
    box-sizing: content-box;
    padding: 10px;
    font-size: 6px;
  }

  div.vertical {
    display: none;
  }
  figure.study img {
    width: 220px;
    height: 220px;
    margin-top: 100px;
  }

  article.visi-misi hr {
    display: block;
    border: none;
    height: 1px;
    margin: 30px 0px;
    width: 120px;
    color: #333;
    background-color: #333;
  }
}
