@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Jersey+25&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track-piece {
  background: linear-gradient(transparent, #00c6ff);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #30ff00);
}

/* container */
section.container {
  max-width: 100%;
  overflow: hidden;
  padding: 0 30px;
  font-family: "Anton", sans-serif;
}

/* navigation */
nav.navigation {
  width: 100%;
  padding: 23px 50px;
}

nav.navigation ul {
  list-style: none;
}

nav.navigation ul li {
  display: flex;
  gap: 5px;
  font-size: 20px;
  width: 150px;
  transition: 0.5s;
}

nav.navigation ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}

nav.navigation ul li a:hover {
  color: #3e4078;
}

nav.navigation ul li:hover {
  color: #3e4078;
}

/* content */
section.content {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

section.content article.sambutan {
  width: 60%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article.sambutan h4 {
  font-size: 23px;
  font-weight: bold;
  color: #3e4078;
}

article.sambutan h3 {
  color: #3e4078;
}

section.content figure img {
  width: 330px;
  height: 470px;
  object-fit: cover;
}


section.content figure img {
  width: 330px;
  height: 470px;
  object-fit: cover;
}

/* footer */
footer {
  width: 100%;
  text-align: center;
  font-size: 1em;
  text-align: center;
  padding: 16px 0;
}

@media screen and (max-width: 950px){
  nav.navigation {
    padding: 15px 20px;
  }

  nav.navigation ul li {
    font-size: 18px;
    width: auto;
  }

  section.content article.sambutan {
      width: 85%;
      height: 250px;
  }

  article.sambutan h4 {
    font-size: 16px;
  }
  
  article.sambutan h3 {
    color: #3e4078;
    font-size: 13px;
  }
  
  article.sambutan p {
    font-size: 12px;
  }
  section.content figure img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }

}

/* phone */
@media screen and (max-width: 767px){
  nav.navigation {
    padding: 15px 0;
  }

  nav.navigation ul li {
    font-size: 18px;
    width: auto;
  }

  section.content article.sambutan {
      width: 90%;
      height: 350px;
  }

  article.sambutan h4 {
    font-size: 15px;
  }
  
  article.sambutan h3 {
    color: #3e4078;
    font-size: 8px;
  }
  
  article.sambutan p {
    font-size: 11px;
  }
  section.content figure img {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }

}
