/* Gaya untuk tabel */
body {
    max-width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}
h2 {
    text-align: center;
}
table {
    max-width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 15px;
    text-align: left;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}

/* Gaya untuk tombol */
button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 767px){
    h2 {
        font-size: 10px;
    }
    table {
        font-size: 8px;
    }

    th, td {
        padding: 3px;
    }

    button {
        padding: 5px 10px;
    }
}